dash_bootstrap_components
dash-renderer
dash-core-components
dash-html-components
geopandas
gunicorn==20.0.4
keras
numpy==1.19.1
pandas==1.0.0
plotly==4.10.0
dash==1.16.0
yfinance
requests
sklearn
tensorflow==1.15
